.login-page {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 80%;
  height: 70%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.login-form h2 {
  color: white;
  font-size: 2.4rem;
}

.login-form label {
  color: white;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-form input {
  height: 2rem;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.login-btn {
    width: 8rem;
    height: 1.7rem;
    font-size: 1.2rem;
    background-color: white;
    border: none;
}

.login-btn:hover {
    cursor: pointer;
}

.login-form-login-link {
    font-size: 1.1rem;
    color: white;
    text-decoration: underline;
}

.auth-alert-msg {
  font-size: 0.8rem;
  font-weight: 300;
  color: red;
}

.field-error {
  border: 1px solid red;
}

.login-password-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}

.password-input-wrapper {
  position: relative;
  width: 85%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

}

.show-password-btn, .hide-password-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 8px;
  top: 6px;
}

.login-field-header {
  color: white;
}

#login-password-input:focus, #login-email-input:focus {
  outline: none;
}

