.login-page {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 80%;
  height: 70%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.login-form h2 {
  color: white;
  font-size: 2.4rem;
}

.login-form label {
  color: white;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-form input {
  height: 2rem;
  width: 70%;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.login-btn {
    width: 8rem;
    height: 1.7rem;
    font-size: 1.2rem;
    background-color: white;
    border: none;
}

.login-btn:hover {
    cursor: pointer;
}

.login-form-login-link {
    font-size: 1.1rem;
    color: white;
    text-decoration: underline;
}

.auth-alert-msg {
  font-size: 0.8rem;
  font-weight: 300;
  color: red;
}

.field-error {
  border: 1px solid red;
}