/* OVERALL SEARCH OVERLAY */

.search-overlay {
   width: 100vw;
   height: 100vh;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 1500;
   background-color: #181818;
}

/* SEARCH BAR SECTION */

.search-overlay-search-div {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 1rem 2rem;
}

.search-overlay-close-search {
   background-color: transparent;
   color: white;
   border: none;
   font-weight: 200;
}


/* SUGGESTIONS SECTION*/

.so-suggestions-div {
   display: flex;
   flex-direction: column;
   align-items: start;
   padding-left: 3rem;
   padding-top: 1rem;
   gap: 3.5rem;
}

.so-section {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   gap: 1rem;
}

.so-section-header {
   color: #BCBCBC;
   font-weight: 300;
   font-size: 1rem;
}

.so-list {
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   gap: 0.5rem;
}  

.so-list li span {
   font-size: 1rem;
   font-weight: 300;
   color: white;
}