.search-overlay {
   width: 100vw;
   height: 100vh;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 1500;
   background-color: #181818;
}

.search-overlay-search-div {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 0.75rem;
}

.search-overlay-close-search {
   background-color: transparent;
   color: white;
   border: none;
   font-weight: 200;
}