.home-page {
   width: 100vw;
   background-color: #181818;
}

.home-page-trending-h1 {
   color: white;
   position: absolute;
   top: 4.5rem;
   left: 2rem;
   font-size: 1rem;
   font-weight: 400;
}

.home-page-feed-ul {
   width: 100vw;
   margin-top: 8rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   gap: 2rem;
}

.home-page-feed-li {
   width: 100%;
   height: auto;
   border: none;
}