.post-container {
   width: 100%;
   height: 100%;
   border: none;
   border-top: 0.5px solid gray;
   display: flex;
   flex-direction: column;
   padding: 1rem;
   gap: 1rem;
   color: white;
}

.post-uploader-info-div {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 0.75rem;
}

.post-uploader-profile-pic {
   width: 27.5px;
   height: 27.5px;
   border-radius: 50%;
   border: none;
   background-color: rgb(80, 80, 80);
}

.post-uploader-community-name {
   font-weight: 400;
}

.post-title {
   font-weight: 500;
   font-size: 1.5rem;
}

.post-actions-ul {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;  
}