.dropdown-menu-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #181818;
  padding-left: 1rem;
  padding-top: 11vh;
  position: fixed;
  left: 0;
  top: 7.5vh;
  z-index: 1000;
}

.dropdown-menu-wrapper ul li {
  list-style: none;
  margin-bottom: 3.5rem;
}

.dropdown-menu-wrapper ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 400;
}
