.profile-banner {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  margin-top: 10vh;
  padding-left: 0.5rem;
}

.banner-profile-pic {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin-right: 0.5rem;
  color: white;
  font-size: 0.9rem;
}

.banner-username {
  color: white;
  font-size: 1.3rem;
}

.banner-message-btn {
  padding: 0.3rem;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.profile-nav {
  border: 1px solid white;
  border-top: none;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  z-index: 100;
  position: absolute;
  top: 8.5rem;
}

.profile-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
  list-style: none;
}

.profile-nav ul li a {
  color: white;
  text-decoration: none;
}
