.nav {
   width: 100vw;
   height: 5vh;
   background-color: #181818;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
}

.nav-ul-left, .nav-ul-right {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

.profile-picture {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: none;
}