.nav {
   width: 100vw;
   height: 8vh;
   background-color: #181818;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 1rem;
}

.nav-ul-left, .nav-ul-right {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

.nav-ul-left {
   gap: 1rem;
}

.profile-picture {
   width: 27.5px;
   height: 27.5px;
   border-radius: 50%;
   border: none;
   background-color: rgb(0, 217, 255);
}

.nav-btn {
   background-color: transparent;
   border: none;
   padding: 0.75rem;
}