.profile-forums-page {
  width: 100%;
  height: 100vh;
}


.forums-list {
  width: 100%;
  height: 100%;
  background-color: #181818;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
}

.forum {
  width: 95%;
  height: 10rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
}

.forum-users-info-wrapper {
  width: 100%;
  height: 30%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.forum-profile-pic {
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.forum p {
  color: white;
  font-size: 1.7rem;
}

.forum span {
  color: white;
  font-size: 1.2rem;
}

